# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
.venv/
ENV/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Jupyter Notebook
.ipynb_checkpoints/

# Environment Variables
.env
.env.local
.env.*.local

# Vector DB
chroma_db/
data/vector_store/
*.index

# Database
*.db
*.sqlite3

# Data (큰 파일은 Git에서 제외)
data/raw/*.csv
data/raw/*.json
data/raw/*.txt
data/processed/*.pkl
data/processed/*.parquet
data/processed/*.jsonl
data/processed/*.txt
data/processed/*.csv
data/processed/*.jsonl
data/vector_store/chroma.sqlite3
data/vector_store/323fc3eb-1a52-48b0-b460-cbb0e1bbbbb7/data_level0.bin
data/vector_store/323fc3eb-1a52-48b0-b460-cbb0e1bbbbb7/header.bin
data/vector_store/323fc3eb-1a52-48b0-b460-cbb0e1bbbbb7/length.bin
data/vector_store/323fc3eb-1a52-48b0-b460-cbb0e1bbbbb7/link_lists.bin

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml